*{
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
}
h1{
    font-size: 50px;
}
h2{
    font-size: 40px;
}
.heilgt-name{
    color: orange;
}
.half-width{
    width: 40%;
    float: left;
    padding: 5px 15px 5px 15px;

}
.half-width img{
    width: 100%;
}